**Import Pandas**

In [ ]:
import pandas as pd

**Read CSV file without header**

In [ ]:
df = pd.read_csv("pc_sales_2021.csv", header=None)
df.head()

**Turn a specific row into header row and drop that row**

In [ ]:
df.columns = df.iloc[2]
df = df.drop(2)
df.head()

**Drop the 0th row (it is just the headline)**

In [ ]:
df = df.drop(0)
df.head()

**Drop last two columns**

In [ ]:
df = df.drop(["2021/\n2020","2021/2019"], axis = 1)
df.head()

**Drop rows where all values are NaN**

In [ ]:
df = df.dropna(how='all')
df.head()

**Check other null value**

In [ ]:
df.isnull().any()

**Rename columns : Country, 2019, 2020, 2021**

In [ ]:
df = df.rename(columns={'REGIONS/COUNTRIES': 'Country', 'Q1-Q4 2019': '2019', 'Q1-Q4 2020': '2020', 'Q1-Q4 2021': '2021'})
df.head()

**View the whole table and make a list of entries under 'Country' that are not country**

In [ ]:
pd.set_option('display.max_rows', None)
df
non_countries= ["EUROPE", "EU 27 countries + EFTA + UK", "OTHER COUNTRIES", "RUSSIA, TURKEY & OTHER EUROPE",
                "OTHER COUNTRIES/REGIONS ", "AMERICA", "NAFTA", "CENTRAL & SOUTH AMERICA",
                "ASIA/OCEANIA/MIDDLE EAST", "ASEAN",  "AFRICA",
                "ALL COUNTRIES/REGIONS", "TOTAL OICA MEMBERS "]

**Delete the rows that have any of the items of 'non_countries' list**

In [ ]:
df = df[~df['Country'].isin(non_countries)]
df.head()

**Capitalize only the first letter of each country**

In [ ]:
df.loc[:, 'Country'] = df["Country"].str.title()
df.head()

**Remove all leading and trailing spaces & everything other than capital letters, small letters, and blank spaces (in country column)**

In [ ]:
df.loc[:, 'Country'] = df['Country'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df

**Rename United States Of America**

In [ ]:
df.loc[df['Country'] == 'United States Of America', 'Country'] = 'United States of America'

In [ ]:
df

**Remove commas**

In [ ]:
df['2019'] = df['2019'].str.replace(',', '')
df['2020'] = df['2020'].str.replace(',', '')
df['2021'] = df['2021'].str.replace(',', '')
df.head()

**Change Datatypes**

In [ ]:
df = df.astype({"2019":"int", "2020":"int", "2021":"int"})
df.dtypes

**Sort by Country (Ascending)**

In [ ]:
df.sort_values(by=['Country'])
df.head()

**Download the cleaned CSV file**

In [ ]:
df.to_csv('cleandata.csv', index=False)